@{
    ViewBag.Title = "Home Page";
}

<div>
    <br />
    <p>
        Welcome to Veripark Penalty Calculator!!
        <br /><br />
        Using the menu above, you should first define the currencies and then countries.
        <br /><br />
        Once you complete the locale definitions, the penalty calculator will calculate the late fee based on your chosen locale.
    </p>
</div>
